body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*NAVBAR*/


nav {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 85, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  width: 100%;
  height: 70px;
  padding-top: 20px;
  
}
.nav-menu {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  font-size: 25px;
  color: #f0f0f0;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-item {
  display: inline-block;
  margin-right: 20px;
  list-style: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
}
.nav-menu li a {
  color: #f0f0f0;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
nav a.active {
  font-weight: bold;
}

nav a:hover {
  color: #ea168e;
}

.logo {
  cursor: pointer;
  display: flex;
}

/* HOME PAGE*/
.first-container {
  width: 100%;
  overflow-x: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.first-container h1:hover {
  color: #ea168e;
}
.first-container h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 35px;
}

.first-container img {
  height: 350px;
  width: 350px;
}

/*SKILLS PAGE */
#skills {
  padding-top: 5%;
  overflow-x: scroll;
  height: 91vh;
}
.skills-content{
  overflow-y: scroll;
  height: 750px;
}
.section-header {
  text-align: center;
  
}
.section-header h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: #ea168e;
  margin: 0;
}
.section-header p {
  font-size: 20px;
}
.title-area {
  font-size: 25px;
  font-family: montserrat;
  text-transform: uppercase;
  color: #ea168e;
}
.single-skill {
  display: flex;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  justify-content: space-between;
  margin: 0 1rem;
  margin-bottom: 2rem;
}
.topic {
  text-transform: uppercase;
  font-family: montserrat;
  font-weight: 500;
}
.bar {
  position: absolute;
  bottom: -0.75rem;
  height: 0.75rem;
  background-color: #ea168e;
}
.bar-1 {
  width: 75%;
}
.bar-2 {
  width: 60%;
}
.bar-3 {
  width: 70%;
}
.bar-4 {
  width: 65%;
}
.bar-5 {
  width: 55%;
}
.bar-6 {
  width: 55%;
}
.bar-7 {
  width: 60%;
}
.bar-8 {
  width: 60%;
}

/*ABOUT PAGE*/

.link {
  color: #ea168e;
}
.about-me {
  font-size: 25px;
}
.about-me h1 {
  text-align: center;
  color: #ea168e;
}
.info {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

/*CONTACT PAGE*/
.contact * {
  box-sizing: border-box;
  margin: 0;
}
#body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 85, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  height: 100vh;
  margin: -20px 0 50px;
  overflow: auto;
  width: 100%;
}
.contact {
  background-color: white;
  border-radius: 5px;
  position: relative;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  min-width: 370px;
}
.contact h2 {
  font-size: 32px;
  margin-bottom: 1rem;
}
.form-container {
  display: flex;
}
.left-contact {
  background-color: #00d4ff;
  display: flex;
  height: 480px;
  justify-content: center;
  align-items: center;
}
.right-contact {
  display: flex;
  height: 460px;
  width: 600px;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.right-contact p {
  font-size: 14px;
}
.right-contact input {
  font-size: 14px;
}
.left-contact p {
  font-size: 15px;
}
.left-inner-contact {
  height: 90%;
  width: 70%;
  text-align: center;
  padding-top: 60px;
}
.right-inner-conatact {
  height: 80%;
  width: 100%;
  text-align: center;
}
.label {
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 80%;
  font-size: 0.8rem;
  background-color: #f0f0f0;
}

form p {
  text-align: left;
}
button {
  border-radius: 20px;
  background-color: #ea168e;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
/*Hamburger Menu*/

.btn {
  display: none;
  position: absolute;
  margin-right: 18px;
  padding: 5px;
  color: aqua;
  font-size: 18px;
  text-transform: pointer;
}

/* RESPONSIVENESS*/
@media screen and (max-width: 500px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    height: 50%;
  }
  .nav-link {
    border-top: 1px solid black;
    margin-top: 10px;
    text-align: center;
  }
  .btn {
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .nav-menu li a {
    font-size: 15px;
  }

  .left-inner-contact {
    height: 100%;
    margin-top: 0;
  }
  *.about-me {
    position: relative;
    font-size: 15px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 500px) {
  .nav-menu{
    flex-direction: column;
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .nav-item:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    margin-top: 50px;
  }
  .nav-item {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
  }
  .btn {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  nav {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  
  .about-me {
    position:static ;
    font-size: 22px;
    padding-bottom: 300px;
    overflow-y: scroll;
    height:300px;
    
  }

  .first-container h1 {
    text-align: center;
    overflow: visible;
  }
  
  .contact {
    position: static;
    width: auto;
    text-align: center;
  }

  .left-inner-contact {
    height: 70%;
  }
}

@media screen and (max-width: 800px) {
  .nav-menu {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    top: 0px;
    gap: 0;
    height: auto; 
    width: 100%;
    text-align: center;
    transition: 0.3s;
    font-size: 18px;
  }
  .about-me {
    position:static ;
    font-size: 22px;
    padding-bottom: 300px;
    overflow-y: scroll;
    height:310px;
    
  }
  .nav-item{
    margin: 10px 0;

}
.nav-menu li a {
  font-size: 18px;
  padding-right: 35px;
}

.nav-menu.active{
    left:0;
}

.first-container h1{
    text-align: center;
}
}


.custom{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100%-2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}